.App {
  text-align: center;
}

.nav-img{
  height: 75px;
  width: auto;
}
.brand-name{
  border-left: 1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 15px;
}
.brand-logo{
  padding-right: 15px;
}
.search-icon{
  height: 10px;
  width: auto;
}
.navbar ul{
  list-style: none;
}
.navbar li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar{
  width: 250px;
  height: auto;
  font-size: 14px;
  border-radius: 3px;
  color: #999;
  text-align: center;
  padding: 7px;
  z-index: 2;
  border: 1px solid lightgrey;
  background-image: url('./images/mag-glass.png');
  background-position: left;
  background-size: 20px;
  background-repeat: no-repeat;
}
.home-page{
  display: inline;
}
.feed{
  width: 65%;
  left: 0;
}
.side-nav{
  width: 35%;
  position: absolute;
  right: 0;
  top: 100px;
}
.user-profile-pic{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: auto;
}
.profile-header, .story-header{
  display: inline-block;
}

.footer ul{
  list-style-type: circle;
}

.footer li{
  display: inline-block;
  padding: 20px;
}

.footer a{
  text-decoration: none;
  color: black;
}
.single-post{
  height: auto;
  width: 500px;
}
.post-user-name{

}
.indiv-post-header{
  display: inline-block;
}
.post-img{
  height: 500px;
  overflow: hidden;
}
